Source: mono
Section: interpreters
Priority: optional
Maintainer: Debian Mono Group <pkg-mono-group@lists.alioth.debian.org>
Uploaders: Eduard Bloch <blade@debian.org>
Standards-Version: 3.6.1
Build-Depends: debhelper (>> 3.0.0), libglib2.0-dev, bison, automake1.7 | automake , libicu26-dev, libtool
Build-Conflicts: libmint-dev

Package: mono-common
Provides: cli-common
Architecture: any
Depends: binfmt-support
Conflicts: binfmt-support (<< 1.1.2), binfmt-detector-cli
Replaces: mono-jit (<< 0.16), binfmt-detector-cli
Description: common files for the Mono CLI runtimes
 The Mono Project is an open development initiative sponsored by Ximian that is
 working to develop an open source, Linux-based version of the Microsoft .NET
 development platform.
 .
 This package contains base configuration files and configures the
 system to run .NET executables as native applications.

Package: mono-jit
Provides: cli-virtual-machine
Architecture: i386 powerpc
Depends: ${shlibs:Depends}, mono-assemblies-base, mono-common (= ${Source-Version})
Conflicts: mono-assemblies-base (<< 0.29.99.20040114), mono-assemblies-base (>> ${Source-Version})
Description: fast CLI (.NET/Mono) JIT compiler
 The Mono Project is an open development initiative sponsored by Ximian that is
 working to develop an open source, Linux-based version of the Microsoft .NET
 development platform.
 .
 This package contains the Virtual Execution Environment and code
 generator (Just-in-Time and Ahead-of-Time) "mono" which runs CLI/.NET
 applications, currently available for i386 and powerpc architectures
 only.

Package: mono-mint
Provides: cli-virtual-machine
Architecture: i386 sparc powerpc arm hppa s390
Conflicts: libmint0, libmint-dev
Replaces: libmint0, libmint-dev
Depends: ${shlibs:Depends}, mono-assemblies-base, mono-common (= ${Source-Version})
Conflicts: mono-assemblies-base (<< 0.29.99.20040114), mono-assemblies-base (>> ${Source-Version})
Recommends: mono-jit
Description: generic CLI (.NET/Mono) code interpreter
 The Mono Project is an open development initiative sponsored by Ximian that is
 working to develop an open source, Linux-based version of the Microsoft .NET
 development platform.
 .
 This package contains the generic .NET code interpreter "mint". It is
 more portable but slow implementation, don't use it unless the mono-jit
 package is not available for your system architecture.
 
Package: mono
Architecture: all
Depends: mono-jit (= ${Source-Version}) | mono-mint (= ${Source-Version}), mono-common (= ${Source-Version}), mono-utils (= ${Source-Version}), mono-mcs, mono-assemblies-arch
Description: The Mono .NET development environment
 The Mono Project is an open development initiative sponsored by Ximian that is
 working to develop an open source, Linux-based version of the Microsoft .NET
 development platform.
 .
 mono is a metapackage containing dependencies for the components of Mono.

Package: mono-utils
Architecture: any
Section: devel
Depends: ${shlibs:Depends}, mono-assemblies-base
Description: Mono utilities
 The Mono Project is an open development initiative sponsored by Ximian that is
 working to develop an open source, Linux-based version of the Microsoft .NET
 development platform.
 .
 This package includes various tools useful for .NET developers, like
 monodis, pedump and monograph.

Package: libmono0
Architecture: i386
Section: libs
Depends: ${shlibs:Depends}
Conflicts: libmint0
Description: libraries for the Mono interpreter
 Shared libraries for Mono, used for embedding/hosting of the
 JIT. The package also contains libmono-profiler-cov used for
 optimisation work.
 .
 The Mono Project is an open development initiative sponsored by Ximian that is
 working to develop an open source, Linux-based version of the Microsoft .NET
 development platform.

Package: libmono-dev
Section: devel
Architecture: i386
Depends: libmono0 (= ${Source-Version})
Description: libraries for the Mono interpreter - Development files
 Header files and static libraries for libmono and libmono-profiler-conv.
 .
 The Mono Project is an open development initiative sponsored by Ximian that is
 working to develop an open source, Linux-based version of the Microsoft .NET
 development platform.

