Source: mono
Section: interpreters
Priority: optional
Maintainer: Debian Mono Group <pkg-mono-group@lists.alioth.debian.org>
Uploaders: Eduard Bloch <blade@debian.org>, Mirco Bauer <meebey@meebey.net>
Build-Depends: debhelper (>= 4.0.0), cli-common (>= 0.1.4), libglib2.0-dev (>= 2.4), bison, libtool, dpatch, libxslt1-dev
Build-Conflicts: pnet-compiler
Standards-Version: 3.6.1

Package: mono-common
Architecture: i386 powerpc amd64
Depends: binfmt-support (>= 1.1.2)
Description: common files for Mono
 Mono is a platform for running and developing applications based on the
 ECMA/ISO Standards. Mono is an open source effort led by Novell.
 Mono provides a complete .NET CLR including compiler and runtime, which can
 produce and execute CIL bytecode (assemblies), and a .NET class library.
 .
 This package contains base configuration files and configures the
 system to run CIL executables as native applications.

Package: mono-jit
Provides: cli-virtual-machine
Architecture: i386 powerpc amd64
Depends: mono-common (= ${Source-Version}), mono-classlib-1.0-${mono:upversion}, ${shlibs:Depends}
Description: fast CLI (.NET) JIT compiler for Mono
 Mono is a platform for running and developing applications based on the
 ECMA/ISO Standards. Mono is an open source effort led by Novell.
 Mono provides a complete .NET CLR including compiler and runtime, which can
 produce and execute CIL bytecode (assemblies), and a .NET class library.
 .
 This package contains the Virtual Execution Environment and code
 generator (Just-in-Time and Ahead-of-Time) "mono" which runs CLI (.NET)
 applications, currently available for i386, powerpc and amd64 architectures
 only.

Package: mono
Architecture: i386 powerpc amd64
Depends: mono-common (= ${Source-Version}), mono-jit (= ${Source-Version})
Description: Mono CLI (.NET) runtime
 Mono is a platform for running and developing applications based on the
 ECMA/ISO Standards. Mono is an open source effort led by Novell.
 Mono provides a complete .NET CLR including compiler and runtime, which can
 produce and execute CIL bytecode (assemblies), and a .NET class library.
 .
 mono is a metapackage containing dependencies for the runtime of  Mono.
 If you do not need all of them (or try to work around X11
 dependencies), install the core packages manually: mono-jit, mono-mcs or
 mono-utils.

Package: mono-devel
Section: devel
Architecture: i386 powerpc amd64
Depends: mono (= ${Source-Version}), mono-mcs, mono-gac, mono-utils, mono-jay
Suggests: mono-gmcs
Description: Mono CLI (.NET) runtime with development tools
 Mono is a platform for running and developing applications based on the
 ECMA/ISO Standards. Mono is an open source effort led by Novell.
 Mono provides a complete .NET CLR including compiler and runtime, which can
 produce and execute CIL bytecode (assemblies), and a .NET class library.
 .
 mono-devel is a metapackage containing dependencies for the runtime and
 development components of Mono.

Package: mono-utils
Section: devel
Architecture: i386 powerpc amd64
Replaces: mono-mcs (<= 1.1.6-4)
Depends: ${shlibs:Depends}, mono-classlib-1.0
Provides: cil-disassembler
Description: Mono utilities
 Mono is a platform for running and developing applications based on the
 ECMA/ISO Standards. Mono is an open source effort led by Novell.
 Mono provides a complete .NET CLR including compiler and runtime, which can
 produce and execute CIL bytecode (assemblies), and a .NET class library.
 .
 This package includes various tools useful for CLI (.NET) developers, like
 dh_installxsp, pedump, monodiet, monodis and monograph.

Package: libmono0
Section: libs
Architecture: i386 powerpc amd64
Replaces: libmono-dev (<= 1.1.6-4)
Depends:  ${shlibs:Depends}
Provides: libmono-${mono:upversion}
Description: libraries for the Mono JIT
 Shared libraries for Mono, used for embedding/hosting of the
 JIT. The package also contains libmono-profiler-cov used for
 optimisation work.
 .
 Mono is a platform for running and developing applications based on the
 ECMA/ISO Standards. Mono is an open source effort led by Novell.
 Mono provides a complete .NET CLR including compiler and runtime, which can
 produce and execute CIL bytecode (assemblies), and a .NET class library.

Package: libmono-dev
Section: devel
Architecture: i386 powerpc amd64
Depends: libmono0 (= ${Source-Version}), libglib2.0-dev
Description: libraries for the Mono JIT - Development files
 Header files and static libraries for libmono and libmono-profiler-conv.
 .
 Mono is a platform for running and developing applications based on the
 ECMA/ISO Standards. Mono is an open source effort led by Novell.
 Mono provides a complete .NET CLR including compiler and runtime, which can
 produce and execute CIL bytecode (assemblies), and a .NET class library.

Package: mono-assemblies-base
Section: libs
Architecture: all
Depends: mono-classlib-1.0
Description: Mono class library - transistion package
 Mono is a platform for running and developing applications based on the
 ECMA/ISO Standards. Mono is an open source effort led by Novell.
 Mono provides a complete .NET CLR including compiler and runtime, which can
 produce and execute CIL bytecode (assemblies), and a .NET class library.
 .
 mono-assemblies-base is a metapackage for the "mono-assemblies-base to
 mono-classlib-1.0" transistion.

Package: mono-classlib-1.0
Section: libs
Architecture: all
Replaces: mono-assemblies-base (<< 1.1.8)
Provides: mono-classlib-1.0-${mono:upversion}
Description: Mono class library (1.0)
 Mono is a platform for running and developing applications based on the
 ECMA/ISO Standards. Mono is an open source effort led by Novell.
 Mono provides a complete .NET CLR including compiler and runtime, which can
 produce and execute CIL bytecode (assemblies), and a .NET class library.
 .
 This package contains the Mono class library version 1.0
 (cross-platform CIL (.NET) libraries) that are used by nearly all CLI (.NET)
 programs on the system.

Package: mono-classlib-1.0-dbg
Section: libs
Priority: extra
Architecture: all
Replaces: mono-assemblies-base (<< 1.1.8)
Depends: mono-classlib-1.0 (= ${Source-Version})
Description: Mono class library (1.0) - debug symbols
 Mono is a platform for running and developing applications based on the
 ECMA/ISO Standards. Mono is an open source effort led by Novell.
 Mono provides a complete .NET CLR including compiler and runtime, which can
 produce and execute CIL bytecode (assemblies), and a .NET class library.
 .
 This package contains debug symbols (*.mdb) for Mono class library 1.0

Package: mono-classlib-2.0
Section: libs
Architecture: all
Provides: mono-classlib-2.0-${mono:upversion}
Description: Mono class library (2.0)
 Mono is a platform for running and developing applications based on the
 ECMA/ISO Standards. Mono is an open source effort led by Novell.
 Mono provides a complete .NET CLR including compiler and runtime, which can
 produce and execute CIL bytecode (assemblies), and a .NET class library.
 .
 This package contains the Mono class library version 2.0
 (cross-platform CIL (.NET) libraries) that are used by nearly all CLI (.NET)
 programs on the system.

Package: mono-classlib-2.0-dbg
Section: libs
Priority: extra
Architecture: all
Depends: mono-classlib-2.0 (= ${Source-Version})
Description: Mono class library (2.0) - debug symbols
 Mono is a platform for running and developing applications based on the
 ECMA/ISO Standards. Mono is an open source effort led by Novell.
 Mono provides a complete .NET CLR including compiler and runtime, which can
 produce and execute CIL bytecode (assemblies), and a .NET class library.
 .
 This package contains debug symbols (*.mdb) for Mono class library 2.0

Package: mono-mcs
Section: devel
Architecture: all
Depends: ${cli:Depends}
Recommends: pkg-config
Conflicts: pnet-compiler
Provides: c-sharp-compiler, resource-file-generator, assembly-linker, strong-name-tool
Description: Mono C# compiler
 This is the Mono C# (C-Sharp) compiler, a platform-independent compiler which
 produces CIL/.NET (Common Intermediate Language) binary executables, and the
 most development tools around it like ilasm, wsdl stub generator, assembly
 linker and security tools.
 .
 Mono is a platform for running and developing applications based on the
 ECMA/ISO Standards. Mono is an open source effort led by Novell.
 Mono provides a complete .NET CLR including compiler and runtime, which can
 produce and execute CIL bytecode (assemblies), and a .NET class library.

Package: mono-gmcs
Section: devel
Architecture: all
Depends: ${cli:Depends}
Recommends: pkg-config
Conflicts: pnet-compiler
Provides: c-sharp-2.0-compiler
Description: Mono C# 2.0 compiler
 This is the Mono C# (C-Sharp) 2.0 compiler, a platform-independent compiler
 which produces CIL/.NET (Common Intermediate Language) binary executables.
 The gmcs compiler supports the C# 2.0 featureset like generics, anonymous
 methods, iterators, partial types and nullable types.
 WARNING: The C# 2.0 specification is not yet official (there is currently only
 a draft), means no ISO nor EMCA standard yet and the specification may
 change and breaks your code!
 .
 Mono is a platform for running and developing applications based on the
 ECMA/ISO Standards. Mono is an open source effort led by Novell.
 Mono provides a complete .NET CLR including compiler and runtime, which can
 produce and execute CIL bytecode (assemblies), and a .NET class library.

Package: mono-gac
Section: devel
Architecture: all
Depends: ${cli:Depends}
Provides: global-assembly-cache-tool
Description: Mono GAC tool
 Mono is a platform for running and developing applications based on the
 ECMA/ISO Standards. Mono is an open source effort led by Novell.
 Mono provides a complete .NET CLR including compiler and runtime, which can
 produce and execute CIL bytecode (assemblies), and a .NET class library.
 .
 This package includes the Global Assembly Cache (GAC) Tool (gacutil)
 used by Mono to store shared CIL/.NET (Common Intermediate Language) libraries.

Package: mono-jay
Section: devel
Architecture: i386 powerpc amd64
Depends: ${shlibs:Depends}
Description: LALR(1) parser generator oriented to Java/.NET
 Mono is a platform for running and developing applications based on the
 ECMA/ISO Standards. Mono is an open source effort led by Novell.
 Mono provides a complete .NET CLR including compiler and runtime, which can
 produce and execute CIL bytecode (assemblies), and a .NET class library.
 .
 Jay is a Yacc implementation oriented to Java-like input syntax. It
 takes a grammar, specified in BNF and augmented with semantic actions,
 and generates tables and an interpreter which recognizes the language
 defined by the grammar and executes the semantic actions as their
 corresponding phrases are recognized.
